@charset "UTF-8";

/* 共通部分
---------------------------- */
html {
  font-size: 100%;
}

image {
  max-width: 100%;
}

a {
  text-decoration: none;
}

body {
  line-height: 1.7;
  color: #432;
}

/* header
---------------------------- */

/* main
---------------------------- */

/* footer
---------------------------- */

/* モバイル版
---------------------------- */
